spring:
  cloud:
    config:
      enabled: false

  application:
    name: activity-service

  mongodb:
    host: localhost
    port: 27017
    database: fitnessactivity

server:
  port: 8082


eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/