server:
  port: 8083

spring:
  application:
    name: ai-service

  mongodb:
    host: localhost
    port: 27017
    database: fitnessrecommendation

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/